<header>
    <ul>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/track">Track Users</a></li>
        <li><a href="/instructions">Instructions</a></li>
        <li><a href="logout">Logout</a></li>
    </ul>
</header>